{% extends 'base.html.twig' %}

{% block title %}
Pagina personal
{% endblock %}

{% block body %}
<!-- Pricing section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Hola {{usuario.nombre}}</h1>
            <p class="lead fw-normal text-muted mb-0">Te mostramos tus datos registrados:</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <span class="display-4 fw-bold">{{usuario.nombre}}</span>
                            <span class="text-muted">{{usuario.apellidos}}</span>

                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check-circle-fill text-secondary"></i>
                                <strong>{{usuario.correo}}</strong>
                            </li>
                          {% if usuario.telefono != null %}
                            <li class="mb-2">
                              <i class="bi bi-check-circle-fill text-secondary"></i>
                                {{usuario.telefono}}
                            </li>
                          {% endif %}
                          <li class="mb-2">
                            <i class="bi bi-check-circle-fill text-secondary"></i>
                              Fecha nacimiento: {{usuario.fechaNacimiento|date('d-m-Y')}}
                          </li>
                          <!--<li class="mb-2">
                            <i class="bi bi-check-circle-fill text-secondary"></i>
                              {{usuario.fechaRegistro|date('d-m-Y')}}
                          </li>-->
                        <!--  <li class="mb-2">
                            <i class="bi bi-check-circle-fill text-secondary"></i>
                              {{usuario.ultimoAcceso|date('d-m-Y')}}
                          </li>-->
                          <li class="mb-2">
                            <i class="bi bi-check-circle-fill text-secondary"></i>
                              Rol: {{usuario.roles.0}}
                          </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-primary" href="#!">Editar mis datos</a></div>
                        <br>
                        <div class="d-grid"><a class="btn btn-primary" href="{{ path('app_changePass') }}">Cambiar contraseña</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
