{% extends 'base.html.twig' %}

{% block title %}
Añadir un nuevo ejercicio
{% endblock %}

{% block body %}
<!-- Features section-->
<section class="py-5" id="instrucciones">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h2 class="fw-bolder mb-0">Instrucciones: </h2>
              <p class="mb-0">- Para la implementación de puede usar: HTML5, CSS3 y JS.</p>
              <p class="mb-0">- Además, recordad que son ejercicios destinados al entrenamiento de la vista, por lo que deben centrarse en este fin.</p>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <h2 class="h5">1. Decarga la plantilla y los ejercicios de ejemplo:</h2>
                        <p class="mb-0"><a href="{{ path('app_descargarPlantilla') }}">Plantilla </a></p>
                        <p class="mb-0"><a href="{{ path('app_descargarEjemploCanvas') }}">Ejemplo utilizando canvas </a></p>
                        <p class="mb-0"><a href="{{ path('app_descargarEjemploDiv') }}">Ejemplo sin canvas </a></p>
                    </div>
                    <div class="col mb-5 h-100">
                        <h2 class="h5">2. Rellena la plantilla siguiendo las instrucciones que encontraras en ella.</h2>
                        <p class="mb-0">Es el archivo que deberás subir al campo 'documento principal' del formulario.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <h2 class="h5">3. Rellena el resto del formulario.</h2>
                        <p class="mb-0">Rellena todos los campos del formulario siguiendo las instrucciones que encontrarás en él.</p>
                    </div>
                    <div class="col h-100">
                        <h2 class="h5">4. En caso de duda:</h2>
                        <p class="mb-0">  - Consulta los ejercicios de ejemplo.</p>
                        <p class="mb-0">  - Contacta con el administrador a través del <a href="{{ path('contact_page') }}">formulario de contacto</a>.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#form">Rellenar formulario</a>
        </div>
    </div>
</section>

<section class="py-5" id="form">
  <div class="container px-5">
    <!-- Contact form-->
      <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
          <h1 class="fw-bolder">Formulario de nuevo ejercicio:</h1>
          <p class="lead fw-normal text-muted mb-0">Vuelve a leer las instrucciones <a href="#instrucciones">aquí. </a></p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-8">
            {{form(form)}}
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
