{% extends 'base.html.twig' %}

{% block title %}
Pagina de ejercicios
{% endblock %}

{% block body %}
  <!-- Games preview section-->
  <section class="py-5" id="games">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                  <div class="text-center">
                      <h2 class="fw-bolder">Ejercicios disponibles:</h2>
                      <p class="lead fw-normal text-muted mb-5"></p>
                  </div>
              </div>
          </div>
          <div class="row gx-5">

            {% for ejercicio in ejercicios %}
            <!--empieza tarjeta-->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="img/ejercicios/{{ejercicio.imagen}}" alt="Imagen portada ejercicio" />
                        <div class="card-body p-4">
                            <!--<a class="text-decoration-none link-dark stretched-link" href=""></a>-->
                            <h5 class="card-title mb-3">{{ejercicio.nombre}} - {{ejercicio.id}}</h5>
                            <p class="card-text mb-0">{{ejercicio.descripcion}}</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">{{ejercicio.autor.nombre}}</div>
                                        <div class="text-muted">{{ejercicio.fechaCreacion|date('d-m-Y')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid"><a class="btn btn-primary" href="{{ path('entrenar_page', {id: ejercicio.id}) }}">Entrenar</a></div>

                        </div>
                    </div>
                </div>
              <!--Acaba tarjeta-->
            {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}
