<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block tips %}{% endblock %}
  <head>
    <link rel="stylesheet" href="/css/entrenamiento.css">
  {% block css %}{% endblock %}
    <meta charset="utf-8">
  <title>{% block title %}{{ejercicio.nombre}}{% endblock %}</title>
  </head>
  <body onload="load()">
      <div id="cabecera">
        <p id="titulo">{{ejercicio.nombre}}</p>
        <p>Nivel: <span id="nivel">{{entrenamiento.nivelAlcanzado|default(0)}}</span> - Puntos: <span id="puntos">{{entrenamiento.puntuacion|default(0)}}</span></p>
        <a onclick="empezarCero()" style="color:blue;">Volver a empezar</a>
        {% block cabecera %}{% endblock %}
      </div>
        {% block juego %}
        {% endblock %}
        <form class="" action="{{ path('app_guardarEntrenamiento') }}" method="post" id="botones">
          <input type="hidden" name="puntos" id="inputPuntos" value="{{entrenamiento.puntuacion|default(0)}}">
          <input type="hidden" name="nivel" id="inputNivel" value="{{entrenamiento.nivelAlcanzado|default(0)}}">
          <input type="hidden" name="ejercicio" value="{{ejercicio.id}}">
          <button type="submit" name="button" id="acabar">Acabar entrenamiento</button>
        </form>
        <div id="instruccionesDiv">
          <fieldset>
            <legend>Instrucciones del juego:</legend>
            <p>{{ejercicio.instrucciones}}</p>
          </fieldset>
        </div>
  </body>
  {% block funcionalidad %}{% endblock %}
  <script type="text/javascript">
    var canvas = document.getElementsByTagName('canvas');
    if (canvas.length > 0) {
      document.getElementById('botones').style.position = 'relative';
      document.getElementById('instruccionesDiv').style.position = 'relative';
    }
  </script>
</html>
