<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block tips %}{% endblock %}
  <head>
    <link rel="stylesheet" href="/css/entrenamiento.css">
  {% block css %}{% endblock %}
    <meta charset="utf-8">
  <title>{% block title %}{{ejercicio.nombre}}{% endblock %}</title>
  </head>
  <body onload="load()">
      <div id="cabecera">
        <p id="titulo">{{ejercicio.nombre}}</p>
        <p>Nivel: <span id="nivel">{{entrenamiento.nivelAlcanzado}}</span> - Puntos: <span id="puntos">{{entrenamiento.puntuacion}}</span></p>
        {% block cabecera %}{% endblock %}
      </div>
        {% block juego %}
        {% endblock %}
        <form class="" action="{{ path('app_guardarEntrenamiento') }}" method="post" id="botones">
          <input type="hidden" name="puntos" id="inputPuntos" value="{{entrenamiento.puntuacion}}">
          <input type="hidden" name="nivel" id="inputNivel" value="{{entrenamiento.nivelAlcanzado}}">
          <input type="hidden" name="ejercicio" value="{{ejercicio.id}}">
          <button type="submit" name="button" id="acabar">Acabar entrenamiento</button>
          <button type="button" name="button" id="empezar" onclick="empezarCero()">Empezar de 0</button>
        </form>
  </body>
  {% block funcionalidad %}{% endblock %}
  <script type="text/javascript">
  var canvas = document.getElementById('canvas');
  console.log(canvas);
    if (canvas) {
      document.getElementById('botones').style.position = 'relative';
    }
  </script>
</html>
