{% extends 'base.html.twig' %}

{% block title %}
Pagina personal
{% endblock %}
{% block baseStyleSheet %}
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
{% endblock %}
{% block stylesheets %}
  <style media="screen" type="text/css">
    #grafica{
      margin: 5%;
      max-width: 90%;
      margin-top: inherit;
    }
  </style>
{% endblock %}

{% block body %}
  <section class="px-5 text-center" id="grafica">
  <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
              <div class="text-center">
                  <h2 class="fw-bolder">Gráficas de evolución.</h2>
                  <p class="lead fw-normal text-muted mb-5">Selecciona el ejercicio que desees consultar:</p>
                  <select class="" name="" onchange='location = this.value;'>
                    {% if datos is null %}
                      <option value="" selected>Seleccione</option>
                    {% endif %}
                    {% for ejer in ejercicios %}
                      {% if datos is not null and ejer.id == datos.0.ejercicio.id %}
                        <option value="{{ path('graficas_page', {id: ejer.id}) }}" selected>{{ejer.nombre}} - {{ejer.id}}</option>
                      {% else %}
                        <option value="{{ path('graficas_page', {id: ejer.id}) }}">{{ejer.nombre}} - {{ejer.id}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>
          </div>
      </div>
    <canvas id="canvas"></canvas>
  </section>
{% endblock %}
{% block baseJS %}
  <!-- Core theme JS-->
  <script src="../js/scripts.js"></script>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    var nombreEjercicio
    // Obtener una referencia al elemento canvas del DOM
    const $grafica = document.querySelector("#canvas");
    // Las etiquetas son las que van en el eje X.
    const etiquetas = JSON.parse('{{ fechas | json_encode | raw }}');
    // Podemos tener varios conjuntos de datos. Comencemos con uno
    const datosVentas2020 = {
      label: "Puntuacion ejercicio",
      data: JSON.parse('{{ puntuaciones | json_encode | raw }}'), // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
      backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
      borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
      borderWidth: 1,// Ancho del borde
    };
    const niveles = {
      label: "Niveles ejercicio",
      data: JSON.parse('{{ niveles | json_encode | raw }}'), // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
      backgroundColor: 'rgba(245, 54, 39, 0.2)', // Color de fondo
      borderColor: 'rgba(245, 54, 39, 1)', // Color del borde
      borderWidth: 1,// Ancho del borde
    };
    new Chart($grafica, {
        type: 'line',// Tipo de gráfica
        data: {
            labels: etiquetas,
            datasets: [
                datosVentas2020,
                niveles,
                // Aquí más datos...
            ]
        },
        options: {
            responsive: true
        }
    });
  </script>
{% endblock %}
